*.swp
*.swo
priv_notes.txt
node_modules
cards
backend/config/releases.exs
*~
backend/config/prod.secret.exs
backend/MnesiaCore*
frontend/src/cardDB/ALeP*
windows/cs/DragnCards/bin
windows/cs/DragnCards/obj
windows/cs/DragnCards/.vs
windows/cs/DragnCards/DragnCards.csproj.user